<h3>Спасибо за заказ!</h3>

<b>Детали заказа:</b>
{{ cityFrom.label }} - {{ cityTo.label }} ({{ daysCount }} дней)<br/>
{{ dateFrom }} - {{ dateTo }} <br/><br/>

<ul>
    {% for option in options %}
        <li>{{ option.label}} - {{ option.totalPrice}} $</li>
    {% endfor %}
</ul>

<b>Автомобиль:</b><br/>
{{ auto.title }} - {{ auto.price }}

<b>Итого:</b>
{{ basicPrice * daysCount }}