<h3>Спасибо за заказ!</h3>
{{ customer.name }} - {{ customer.phone }}<br/>
{{ customer.email }} <br/>
<b>Примечания:</b><br/>
{{ customer.description }}<br/>

<b>Детали заказа:</b>
{{ cityFrom.label }} - {{ cityTo.label }}<br/>
{{ dateFrom }} - {{ dateTo }}({{ daysCount }} дней) <br/>

<b>Автомобиль:</b><br/>
{{ auto.title }} - {{ auto.price }} $<br/>

<b>Опции</b>
<ul>
    {% for option in options %}
        <li>{{ option.label}} - {{ option.totalPrice}} $</li>
    {% endfor %}
</ul>

<b>Итого:</b>
{{ basicPrice * daysCount }}